body{
    position: relative;
    width: 100wh;
    height: 100vh;
    background: #FFFFFF;
    overflow: hidden;
    margin: 0;
}

.logo{
    position: absolute;
    width: 77px;
    height: 68px;
    left: 15%;
    top: 30px;
}

.navbar_home{
    position: absolute;
    width: 58px;
    height: 30px;
    left: 1003px;
    top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.test_project{
    position: absolute;
    width: 116px;
    height: 26px;
    left: 1102px;
    top: 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
}

.rect_but{
    position: absolute;
    width: 158px;
    height: 34px;
    left: 1102px;
    top: 38px;
    background: rgba(0, 0, 0, 0.77);
    border-radius: 20px;
    cursor: pointer;
}


a{
    text-decoration: none;
}

.foot{
    position: absolute;
    width: 1536px;
    height: 130px;
    left: 0%;
    top: 591px;

    background: rgba(0, 0, 0, 0.5);
}

.contact{
    position: absolute;
    width: fit-content;
    height: 38px;
    left: calc(50% - 134px/2);
    top: 585px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.5);
}

.last_line{
    position: absolute;
    width: 218px;
    height: 23px;
    left: calc(50% - 218px/2 + 17px);
    top: 680px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.06em;
    color: rgba(0, 0, 0, 0.5);
}

.website{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 720px;
    top: 655px;
}
.email{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 754px;
    top: 655px;
}
.phone{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 789px;
    top: 655px;
}

.box1{
    box-sizing: border-box;

    position: absolute;
    width: 320px;
    height: 47px;
    left: 450px;
    top: 300px;

    background: #FFFFFF;
    border: 1px solid #000000;
}

.box2{
    box-sizing: border-box;

    position: absolute;
    width: 320px;
    height: 47px;
    left: 800px;
    top: 300px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
}

.submit_txt{
    position: absolute;
    width: 107px;
    height: 45px;
    left: calc(50% - 107px/2 + 1.5px);
    top: 450px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 45px;
    color: #FFFFFF
}

.submit_box{
    position: absolute;
    width: 150px;
    height: 47px;
    left: 691px;
    top: 380px;
    background: rgba(0, 0, 0, 0.86);
    border-radius: 20px;
    cursor: pointer;
}
