<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lip Reading</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
    <img src="../static/logo.jpg" alt="logo" class="logo">

    <div class="heading">Lip Reading</div>
    <p class="text_line">Model for converting lip movements to text. Developed by</p>
    <p class="text_line2">CVIT, IIIT HYDERABAD.</p>

    <form action="/process" method="POST" enctype="multipart/form-data">
        <input style="top: 341px;position: relative;left: 641px;" name='video' id="video" type="file"/>
        <input style="top: 341px;position: relative; left: 590px;" id="submit" type="submit"/>
    </form>

    <footer class="foot"></footer>
    <p class="contact">Contact Us</p>
    <a href="https://cvit.iiit.ac.in/">
        <img src="../static/website.png" alt="web" class="website">
    </a>
    <a href="mailto: cvit@iiit.ac.in">
        <img src="../static/email.png" alt="email" class="email">
    </a>
    <a href="tel: +91-40-6653 1255">
        <img src="../static/phone-call.png" alt="phone" class="phone">
    </a>
    <p class="last_line">Developed for research purpose.</p>
</body>
</html>
